/*
NOTE: Code in comments currently aren't being used 
anywhere else in the source code OR incomplete implementation
*/

.header {
    display: flex;
    font-family: Arial, sans-serif;
    justify-content: left;
    align-items: center;
    border-radius: 5px;
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #72b4e7;
    padding: 20px;
}

.header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 20px;
}

.header h1 {
    color: #ffffff;
    margin: 0;
}

/* .container {
    font-family: Arial, sans-serif;
    display: grid;
    width: 95%;
    margin: auto;
    height: 600px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
} */

.content {
    font-family: Arial, sans-serif;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    padding-top: 0px;
    padding-left: 0px;
}

/* Side Bar Styling */
.sidebar {
    display: block;
    height: 700px;
    width: fit-content;
    background-color: #ddd;
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.sidebar h2 {
    margin-top: 0;
    font-size: 24px;
}

.sidebar ul {
    list-style-type: none;
    list-style-position: inside;
    padding: 0px;
}

.sidebar li {
    margin-bottom: 20px;
}

.sidebar a {
    background-color: hsl(211, 83%, 16%);
    color: #ffc600;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    display: flex;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: hsl(200, 100%, 30%);
}

.sidebar button {
    border-style: none;
    background-color: hsl(211, 83%, 16%);
    color: #ffc600;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    width: 100%;
    display: flex;
    text-decoration: none;
}

.sidebar button:hover {
    background-color: hsl(200, 100%, 30%);
    cursor: pointer;
}

/* Profile Information Styling */
.profileInfo {
    padding: 20px;
    padding-top: 0px;
    width: 100%;
}

.profileInfo ul{
    list-style: none;
    padding: 0;
}

.profileInfo li{
    margin: 20px;
    margin-bottom: 0px;
}

/* Saved Classes Styling */
.savedClassList {
    width: 100%;
    height: 575px;
    overflow: auto;
}
.savedClassList div {
    border-style: solid;
    padding: 15px;
}

.savedClassList p {
    text-align: left;
    font-weight: normal;
}

.savedClassList .deleteClassButton {
    background-color: red;
    color: black;
    text-align: center;
    padding: 7.5px;
    width: 75px;
    height: 30px;
    border-style: none;
    border-radius: 5px;
}

.savedClassList button:hover{
    font-weight: bold;
    cursor: pointer;
}

.savedClassList .addClassButtonContainer {
    text-align: center;
}

.savedClassList .addClassButton {
    background-color: hsl(211, 83%, 16%);
    color: #ffc600;
    text-align: center;
    padding: 7.5px;
    width: 100px;
    height: 30px;
    border-style: none;
    border-radius: 5px;
    align-self: center;
}

.label {
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
}

.user input[type="text"], 
.user input[type="email"], 
.user input[type="password"] {
    font-family: Arial, sans-serif;
    width: 25%;
    padding: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 25px;
    display: flex;
}

.ProfileButton {
    background-color: #003882;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    margin: auto;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    display: block;
}

.ProfileButton:hover {
    background-color: #FFC200;
    color: black;
}

.autofill {
    width: 100%;
    padding: 2px 2px;
    font-size: 14px;
    border: none;
    text-align: center;
}

.autofill:hover {
    background-color: #003882;
    color: #FFC200;
}

.scrollableContainer {
    width: 100%;
    border: 1px solid #ccc;
    overflow-y: scroll;
    padding: 10px;
}