:root {
    --basecolor: 180, 20%;
    --colortop: hsl(var(--basecolor), 40%);
    --colorleft: hsl(var(--basecolor), 35%);
    --colorright: hsl(var(--basecolor), 30%);
  
    --highligthcolor: hsl(350, 54%, 45%);
    --background: hsl(0, 0%, 100%)
  }
  
  body {
    background: var(--background);
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: var(--colortop);
  }
  
  .st0 {
    fill: var(--colortop);
  }
  
  .st1 {
    fill: var(--colorleft);
  }
  
  .st2 {
    fill: var(--colorright);
  }
  
  svg {
    width: 700px;
    margin: 0 auto;
    animation: fadeIn;
    animation-duration: 1s;
  }
  
  h1 {
    animation: fadeIn;
    animation-duration: 1s;
    margin: 10px;
  }
  
  .allclass {
    display: grid;
    width: 700px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    margin: 0 auto;
    animation: fadeIn;
    animation-duration: 1s;
  }
  
  .allclass p {
    background-color: var(--colortop);
    padding: 3px;
    margin: 10px 0px;
    transition: background-color 0.2s ease-out;
    color: var(--background);
    font-size: 0.9em;
    font-weight: 700;
    border-radius: 2px;
  }
  
  svg polygon {
    transition: fill 0.2s ease-out;
  }
  
  @media only screen and (max-width: 786px) {
    .allshop {
      width: 100%;
      display: block;
    }
  
    svg {
      width: 100%;
    }
  }
  