<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css"/> 
    <title>Document</title>
</head>
<header class="About-Header">
    <h2>Our App Title</h2>
    <nav class="About-NavBar">
        <ul>
            <li><a href="index.html">Home</a></li>
            
        </ul>
    </nav>
</header>
<body>
    <main class="About-Main">
    <!--Two Div Containers Side by side-->
    <div class="About-Container-Content">
        <div class="About-Image-Container">hello</div>
        <div class="About-Container">hello</div>
    </div>
    </main>
</body>
</html>