<%- include('header.html') -%>
<form id="textForm">
    <label for="destination">Class Location:</label>
    <input list="locations" id="destination" name="destination" required>
    <datalist id="locations">
        <option value="Disque Hall 108">
        <option value="Randell Hall 120">
        <option value="Lebow Engineering Center 134">
        <option value="Korman Center 111">
    </datalist>
    <p id="msg"></p>
    <button type="button" onclick="submitinput()">Submit</button>
</form>

    <script>
        function submitinput() {
            // Get the input text
            var inputText = document.getElementById('destination').value;

            const valid = Boolean(validateinput(inputText));

            if (valid) {
                console.log("Send the input to the backend!")
            }
        }

        function validateinput(input) {
            // Validation will check if the class is in the database
            if (["Disque Hall 108", "Randell Hall 120", "Lebow Engineering Center 134", "Korman Center 111"].includes(input)) {
                document.getElementById("msg").innerHTML = "Input Recieved!"
                return true
            }
            else {
                document.getElementById("msg").innerHTML = "Please Input a Valid Location"
                return false
            }
        }
    </script>
<%- include('footer.html') -%>
