<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/styles.css" />
  <link rel="stylesheet" href="/stylesheets/about_styles.css" />
  <link rel="stylesheet" href="/stylesheets/form_styles.css" />
  <link rel="stylesheet" href="/stylesheets/map_styles.css" />
  <script src="/scripts/locationscript.js"></script>
  
</head>
<body>
  <div class="topnav">
    <a href="/about">About</a>
    <a href="#layout">Layout</a>
    <a href="/input">Input</a>
    <a href="/map">Map</a>
  
    <p>Drexel University</p>
  </div>