.About-Header{
    border: 2px solid black;
    display: flex;
    margin: 0;
    text-align:center

}

.About-NavBar{
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    
}

.About-NavBar > ul > li{
    list-style-type: none;
    color:black;
    margin: 0px;
    padding: 0px;
    display: inline;
    padding-right:50px;
}

.About-Container-Content{
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    border:2px solid black
    
}

.About-Image-Container{
    border: 2px solid black;
    margin:auto;
}

.About-Container{
    border: 2px solid black;
    margin:auto;
}