.LayoutButton {
    background-color: #003882;
    margin-top:10px;
    padding: 10px 20px;
    align-items: center;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color:white;
    text-decoration: none;
  }


  .NoFloorPlan{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 30px;
    font-weight: bold;
  }

.FormLayout{
  margin-left:750px;
  margin-top:100px;
  position: absolute;
  display: flex;
  flex-direction: column;




  }